html {
  background-color: rgb(0, 0, 0);
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
h1 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.menu {
  font-size: 1rem;
}
*,
::after,
::before {
  box-sizing: inherit;
}
body,
button,
input,
optgroup,
select,
textarea {
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

nav.menu {
  background-color: rgba(90, 0, 90, 0.603);

  display: flex;
  flex-direction: row;
  justify-content: space-around; /*or space-between*/
  align-items: center;
  width: 100%;
}

.brand {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
}

.elements {
  align-content: center;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  column-gap: 1em;
}

.support {
  align-items: center;
  justify-content: center;
}

.brand a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: x-large;
  z-index: 99;
}

nav.menu .elements a {
  color: white;
  font-size: large;
  padding: 1em;
  border-radius: 0.4em;
  background-color: rgba(90, 0, 90, 0.603);
  border: 1px solid transparent;
}

nav.menu .elements a:hover {
  background-color: rgb(0, 0, 0);
  border: 1px solid white;
  color: white;
}

nav.menu .support a.support {
  background-color: black;
  border: 2px solid rgb(109, 22, 124);
  margin: 0.4em;
  color: white;
  font-size: medium;
  padding: 1em;
  border-radius: 0.4em;
  font-weight: bold;
}

nav.menu .support a.support:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid white;
}

.is-active {
  font-weight: bold;
  border: 2px solid rgb(109, 22, 124) !important;
}

.header button {
  border: 0px transparent;
  border-radius: 0.2em;
  color: white;
  background-color: #42004b;
  cursor: pointer;
  padding: 0.5em;
}

.header-container {
  padding: 1em;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
}

.title {
  color: white;
}

.title h2 {
  font-weight: bold;
  font-size: medium;
}

.title h2,
a {
  margin: 0;
  padding: 0em;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 0.7em;
}

.filter-select-type {
  border: 0px transparent;
  border-radius: 0.2em;
  color: white !important;
  background-color: rgb(109, 22, 124);
  cursor: pointer;
  padding: 0.2em;
  font-weight: normal !important;
  margin-left: 1em;
  font-size: 18px;
}

.filters button {
  border: 0px transparent;
  border-radius: 0.2em;
  color: white !important;
  background-color: rgb(109, 22, 124);
  cursor: pointer;
  padding: 0.3em;
  font-weight: normal !important;
  margin-left: 1em;
  font-size: 18px;
}

.clear-button {
  border: 0px transparent;
  border-radius: 0.2em;
  color: white !important;
  background-color: rgb(109, 22, 124);
  cursor: pointer;
  padding: 0.3em;
  font-weight: normal !important;
  margin-left: 0.3em;
  font-size: 18px;
}

.filters label {
  margin-right: 1em;
}

.actions {
  padding: 0.2em;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1800px;
}

.item-card {
  background: linear-gradient(115.27deg, #1a191ab6, #201f20b0);
  border: 2px solid transparent !important;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  display: block;
  padding: 15px;
  width: 380px;
  margin: 0.5em;
}

.item-card.is-new {
  border: 2px solid rgb(28, 105, 156) !important;
}

.item-card:hover {
  border: 2px solid rgb(28, 105, 156) !important;
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.card-header-logo {
  height: 55px;
  width: 55px;
  border-radius: 125px;
}

.card-header-text {
  margin-left: 2em;
}

.card-header-text-name {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
  margin: 0 !important;
}

.card-header-text-name svg {
  color: rgb(28, 105, 156);
  margin-right: 0.2em;
}

.card-header-text-icons {
  align-items: center;
  display: flex;
  font-family: Poppins, sans-serif;
  font-size: 1em;
  font-weight: 400;
  letter-spacing: 0.08em;
  line-height: 100%;
  margin-top: 1px;
  color: #fff;
  letter-spacing: 0.08em;
}

.card-header-score{
  margin-top: 1em;
  margin-left: 300px;
  margin-bottom: 50px;
  position: absolute;
  z-index: 999;
}

.card-info-text-score {
  border: 1px solid #137206;
  background: #137206;
  border-radius: 0.7em;
  padding: 0.3em;
  font-size: 0.8em;
}

.card-info-tags-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.card-info-tag {
  margin-left: 0.2em;
  border: 1px solid rgb(28, 105, 156);
  background: rgb(28, 105, 156);
  border-radius: 0.5em;
  padding: 0.3em;
  font-size: 0.8em;
}

.score {
  font-weight: bold;
  display: inline;
}

.is-red {
  background: rgb(134, 37, 37) !important;
  border: 1px solid rgb(134, 37, 37) !important;
}

.card-header-icons {
  display: inline-flex;
  align-items: center;
}

.card-header-icons span {
  margin: 3px;
}

.card-header-text-isnew {
  letter-spacing: 0.05em;
  position: relative;
  display: inline-flex;
  color: rgb(28, 105, 156);
}

.card-info-content {
  display: flex;
  flex-direction: column;
}

.card-info-value {
  display: flex;
  font-family: Inter, sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  justify-content: space-between;
  line-height: 100%;
  margin-top: 0.5em;
}

.card-info-value-title {
  opacity: 70%;
}

.card-info-value-description {
  margin-top: 0.5em;
  font-size: 0.7em;
  opacity: 70%;
}

.card-info-value-value {
  align-items: center;
}

.h4,
.h5 {
  font-weight: 600;
  line-height: 150%;
}

/* item.html */
.item-page-header-container {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.item-page-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.item-page-logo {
  border-radius: 125px;
  width: 10em;
  margin: 1em;
}

.item-page-header-title {
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.item-page-header-status{
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.3em;
  font-size: small;
  border: 2px solid rgb(161, 172, 166);
}

.item-page-header-actions-button {
  border: 2px solid rgb(109, 22, 124);
  border-radius: 0.5em;
  padding: 0.5em;
  margin: 0.3em;
}

.item-page-header-actions-button:hover {
  border: 2px solid rgb(255, 255, 255);
}

.item-page-header-actions {
  margin: 1.2em;
  font-weight: bold;
}

.item-page-header-description{
  width: 40vw;
  color: white;
  text-align:justify;
  padding: 1em;
  margin: 0.5em;
  border: 2px solid white;
  border-radius: 1em;
  font-size: 1.2em;
}

.item-page-header-description a{
  color: rgb(199, 76, 221);
}

.item-page-quick-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-page-quick-info a{
  color: rgb(217, 139, 248);
  font-weight: bold;
}

.item-page-quick-info-icon {
  font-size: 1.8em;
  margin-right: 1em;
}

.item-page-quick-info-text {
  font-size: 1.1em;
  font-weight: bold;
}

.item-page-quick-info-comments-table {
  margin-top: 1em;
}

.item-page-quick-info-comments-table a {
  color: rgb(199, 76, 221);
}

.item-page-quick-info-kyctype-table {
  margin-top: 1em;
  font-weight: bold;
}

table {
  position: relative;
  vertical-align: middle;
  width: 80%;
  max-width: 800px;
  border-collapse: collapse;
  border-spacing: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  overflow: hidden;
}
td,
th {
  padding: 8px 20px;
  display: flex;
  align-items: center;
}
th {
  background: linear-gradient(115.27deg, #1a191a, #201f20);
  color: #fafafa;
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}
tr {
  width: 100%;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  border: 3px solid black;
}

tr {
  background-color: #1c4916;
}

tr.tr-is-red {
  background-color: #551e25 !important;
}

tr.tr-is-yellow {
  background-color: #575523 !important;
}

tr.tr-is-info {
  background-color: #214055 !important;
}

.comment-container {
  display: flex;
  flex-direction: row;
}

.is-info{
  color: #2685c4;
}

.is-green{
  color:#357e2b;
}

.bg-is-grey{
  background: gray !important;
}

.about-section{
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.about-section-title{
  text-align: center;
  text-decoration: underline;
}

.about-section-intro-text{
  text-align: center;
}

.about-section-toc{
  width: 75vw;
  padding: 15px;
}

.about-section-toc a{
  color: rgb(199, 76, 221);
}

.about-section-content{
  width: 75vw;
  padding: 15px;
}

.about-section-content a{
  color: rgb(199, 76, 221);
}

.about-section-donation-block{
  display: flex;
  flex-wrap: wrap;
}

.spacer{
  padding: 7em;
}

.donation-button{
  text-align: center;
  padding: 0.2em;
  border: 1px white solid;
  border-radius: 15px;
  margin: 0.5em;
  max-width: 180px;
}

.contactpre{
  background: rgb(51, 48, 48);
  padding: 1em;
  border-radius: 1em;
}

pre{
  overflow-x: auto !important;
}

.modal-window {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.25);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.modal-window:target {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal-window > div {
  text-align: center;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  background: rgb(26, 26, 26);
}
.modal-window h1 {
  font-size: 150%;
  margin: 0 0 15px;
}
.modal-close {
  color: #aaa;
  line-height: 50px;
  padding: 20px;
  font-size: 80%;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 70px;
  text-decoration: none;
}
.modal-window > div {
  border-radius: 1rem;
}
.modal-window div:not(:last-of-type) {
  margin-bottom: 15px;
}
.butn {
  font-size: medium;
  padding: .1em .5em;
  border-radius: .1rem;
  text-decoration: none;
}

small{
 font-size: 12px;
 color: rgb(141, 95, 138);
}

.crypto-donations-container{
 padding: 1.5rem;
 padding-left: 0;
}

a[target=_blank]:after {
  content: ' ⤤';
}

@media screen and (max-width: 700px) {

  .about-section-content{
    width: 80vw;
    padding: 0px !important;
  }

  .item-page-header-description{
    width: 80vw !important;
    font-size: 0.9em;
  }

  .contactpre{
    background: rgb(51, 48, 48);
    padding: 1em;
    border-radius: 1em;
    font-size: small;
  }

  nav.menu {
    background-color: rgba(40, 13, 51, 0.603);
    padding: 0.5em;

    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .brand {
    padding-bottom: 1em;
  }

  .elements {
    align-content: center;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    column-gap: 1em;
  }

  .brand a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: large;
  }

  nav.menu .elements a {
    margin: 0.4em;
    margin-right: 0.2em;
    color: white;
    font-size: medium;
    padding: 0.5em;
    border-radius: 0.4em;
    background-color: rgba(97, 36, 105, 0.287);
    border: 1px solid transparent;
  }

  nav.menu .elements a:hover {
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    color: white;
  }

  nav.menu .support a.support {
    display: none;
  }
}
