<a href="/exchange/{{exchange['name'] | replace(' ', '') | lower}}">
  <article class="leaderboard__profile">
    <img
      src="../static/img/{{ exchange['name'] | replace(' ', '') | lower }}.jpeg"
      alt="{{exchange['name']}}"
      class="leaderboard__picture"
    />
    <span class="leaderboard__name">{{exchange['name']}}
      <div class="currencies">
        {% if exchange['xmr'] %}
        <i style="font-size: 15px; color:rgb(255, 139, 44);" class="fab fa-monero"></i>
        {% endif %} 
        {% if exchange['btc'] %}
        <i style="font-size: 15px; color:rgb(255, 187, 0);" class="fab fa-bitcoin"></i>
        {% endif %} 
        {% if exchange['lnn'] %}
        <i style="font-size: 15px; color:rgb(93, 158, 255);" class="fas fa-bolt"></i>
        {% endif %} 
      </div>
    </span>
    <span style="font-size: 24px;" class="leaderboard__value">{{exchange['score']}}<span>/10</span></span>
  </article>
</a>
