
{%if item['listing-date'] > date%}
<a alt="New listing" class="item-card is-new" href="/{{title}}/{{item['name'] | replace(' ', '') | lower}}">
{% else %}
<a class="item-card" href="/{{title}}/{{item['name'] | replace(' ', '') | lower}}">
{% endif %}
  <div class="card-content">
    <div class="card-header">
      <img class="card-header-logo" src="../static/img/{{ item['name'] | replace(' ', '') | lower }}.jpeg" alt="{{item['name']}} logo" loading="lazy">
      <div class="card-header-text">

        <h5 class="card-header-text-name">
          {%if item['listing-date'] > date%}
            <svg alt="New listing" width="20" height="26" class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z"></path></svg> 
          {%endif%}

          {% if item['verified'] %}
            <span class="card-header-text-name-verified">
              {{item['name']}} 
              <i class="is-info fa-solid fa-check-double" alt="verified"></i>
            </span>
          {% else %}
            {{item['name']}}
          {% endif %}
        </h5>
        
        <div class="card-header-text-icons">
          <div class="card-header-icons">
            {% if item['xmr'] %}
            <span>
              <i style="font-size: 15px; color:rgb(255, 139, 44);" class="fab fa-monero"></i>
            </span>
            {% endif %} 
            {% if item['btc'] %}
            <span>
              <i style="font-size: 15px; color:rgb(255, 187, 0);" class="fab fa-bitcoin"></i>
            </span>
            {% endif %} 
            {% if item['lnn'] %}
            <span>
              <i style="font-size: 15px; color:rgb(93, 158, 255);" class="fas fa-bolt"></i>
            </span>
            {% endif %} 
            {% if item['buy'] %}
            <span>
              <i style="font-size: 15px; color:rgb(99, 160, 0);" class="fa-solid fa-money-bill-1-wave"></i>
            </span>
            {% endif %} 
          </div>
        </div>        
      </div>
      
      {%if item['score']%}
      <div class="card-header-score">
        {%if item['score'] < 5 %}
          <span class="card-info-text-score is-red">
            {{item['score']}} / 10
          </span>
        {%else%}
        <span class="card-info-text-score">
          <p class="score">{{item['score']}}</p> / 10
        </span>
        {%endif%}      
      </div>
      {% endif %}
    </div>

    <div class="card-info-content">
      <div class="card-info-value">
        <div class="card-info-value-description">
          <span class="card-info-value-title">{{item['short-description']}}</span>
        </div>
      </div>
      
      {% if item['tags'] %}
      <div class="card-info-tags-container">
        {% for tag in item['tags'] %}
          <span class="card-info-tag">{{tag}}</span>
        {% endfor %}
      </div>
      {% endif %}
    </div>
  </div>
</a>

<!---
<a href="/exchange/{{item['name'] | replace(' ', '') | lower}}">
  {% if item['listing-date'] > date%}
  <article style="border: 2px solid rgb(106, 208, 255);" class="leaderboard__profile">
  {% else %}
  <article class="leaderboard__profile">
  {%endif%}
    <img
      src="../static/img/{{ item['name'] | replace(' ', '') | lower }}.jpeg"
      alt="{{item['name']}}"
      class="leaderboard__picture"
    />
    <span class="leaderboard__name">
      {% if item['listing-date'] > date%}
        <span class="tag is-info new-indicator">
          New
        </span>
      {%endif%}
      {{item['name']}}
      <div class="currencies">
        {% if item['xmr'] %}
        <i style="font-size: 15px; color:rgb(255, 139, 44);" class="fab fa-monero"></i>
        {% endif %} 
        {% if item['btc'] %}
        <i style="font-size: 15px; color:rgb(255, 187, 0);" class="fab fa-bitcoin"></i>
        {% endif %} 
        {% if item['lnn'] %}
        <i style="font-size: 15px; color:rgb(93, 158, 255);" class="fas fa-bolt"></i>
        {% endif %} 
        {% if item['buy'] %}
        <i style="font-size: 15px; color:rgb(99, 160, 0);" class="fa-solid fa-money-bill-1-wave"></i>
        {% endif %} 
      </div>
    </span>
    <span style="font-size: 30px;" class="leaderboard__value">{{item['score']}}<span>/10</span></span>
  </article>
</a>
-->
