<a href="/service/{{service['name'] | replace(' ', '') | lower}}">
  <article class="leaderboard__profile">
    <img
      src="../static/img/{{ service['name'] | replace(' ', '') | lower }}.jpeg"
      alt="{{service['name']}}"
      class="leaderboard__picture"
    />
    <span class="leaderboard__name"> {{service['name']}} 
      {% if service['lnn'] %}
        <i style="font-size: 15px; color:rgb(93, 158, 255);" class="fas fa-bolt"></i>
      {% endif %} 
      {% if service['xmr'] %}
        <i style="font-size: 15px; color:rgb(255, 139, 44);" class="fab fa-monero"></i>
      {% endif %} 
      {% if service['btc'] %}
        <i style="font-size: 15px; color:rgb(255, 187, 0);" class="fab fa-bitcoin"></i>
      {% endif %} 
      {% if exchange['cash'] %}
        <i style="font-size: 15px; color:rgb(99, 160, 0);" class="fa-solid fa-money-bill-1-wave"></i>
      {% endif %} 

      <div class="description">
        {{service["short-description"]}}
      </div>
    </span>

    <span style="font-size: .6em;" class="tag is-info leaderboard__category">
      {{service['category']}}
    </span>
  </article>
</a>

<style>
  .description{
    font-size: smaller;
    color: grey;
  }
</style>
