{% extends "base.html" %} {% block content %}

<div class="about-section">
    <div class="about-section-title">
        <h1>KYCNOT.ME FAQ</h1>
    </div>

    <div class="about-section-intro-text">
        <p>Find NON-KYC exchanges and services to use and spend your crypto anonymously.</p>
    </div>

    <div class="about-section-toc">
        <ul>
            <li><a href="#why-this">Why this</a></li>
            <li><a href="#btcxmr">Why only Bitcoin and Monero</a></li>
            <li><a href="#funding">How is KYCNOT.me funded?</a></li>
            <li><a href="#xnotl">Why is X not listed?</a></li>
            <li><a href="#js">JavaScript and the project</a></li>
            <li><a href="#os">Open Source and the project</a></li>
            <li><a href="#trackers">Trackers and the project</a></li>
            <li><a href="#referrals">About referral links</a></li>
            <li><a href="#me">About the creator</a></li>
            <li><a href="#listings">Listings</a>
                <ul>
                    <li><a href="#listings"> Requesting a new listing/delisting </a></li>
                </ul>
            </li>
            <li><a href="#metrics">Metrics</a>
                <ul>
                    <li><a href="#metrics"> About KYC Levels </a></li>
                    <li><a href="#metrics"> About automated checks </a></li>
                    <li><a href="#metrics"> About scores </a></li>
                </ul>
            </li>
            <li><a href="#support">Support and donations</a>
        </ul>
    </div>

    <div class="about-section-content" id="why-this">
        <h2><i class="fa-solid fa-circle-question"></i> Why this</h2>
        <p>
            Cryptocurrencies are meant to make a change on the way we pay and exchange goods. They are made to untie the dependency between the users (customers) and the centralized entities that are in control (law enforced) of our economy (e.g. Banks and Governments).
        </p>
        <p>
            KYC and AML enforcing exchanges are the most common nowadays, they act exactly like a bank when using their wallets (most newbies or “traders” do so). You (usually) don't own any private key, so the funds aren't yours, they own your keys. More precisely, they make you a promise that you own a part of THEIR holdings. They also require you to identify yourself in order to operate there (e.g. photo of your ID). All of this together goes against the most valuable benefits of cryptocurrencies.
        </p>
        <p>
            With KYCNOT.ME I want to make it easier for people to find trustworthy ways to buy, exchange, trade and use cryptos without needing to identify themselves, and preserving the decentralized and self-governed essence of Cryptocurrencies. 
        </p>
    </div>

    <div class="about-section-content" id="btcxmr">
        <h2>Why only Bitcoin and Monero</h2>

        <p> <b><i class="fa-brands fa-bitcoin"></i> Bitcoin</b>: it is the most well-known cryptocurrency. It's widespread and has the biggest market capitalization of all cryptocurrencies.</p>

        <p> <b><i class="fa-brands fa-monero"></i> Monero</b>: if digital cash was to exist, it should be like Monero. Fungible, private by design, fast and pretty low fees. Also, one of the oldest cryptocurrencies.</p>

        <p>No other currencies will be added. Most sites listed here also accept other cryptocurrencies, such as Ethereum or Litecoin.</p>
    </div>

    <div class="about-section-content" id="funding">
        <h2><i class="fa-solid fa-piggy-bank"></i> How is KYCNOT.ME funded?</h2>

        <p> I am an individual and I fund this service myself. I pay for the domain, the server, and I use my time to maintain it. Bribes or money from anyone are not and will never be accepted in exchange for being listed or for a good score. If you want to contribute, do it because you find this site useful. You can donate, contribute or use referral links. </p>
    </div>

    <div class="about-section-content" id="xnotl">
        <h2><i class="fa-solid fa-ghost"></i> Why X is not listed?</h2>

        <p> 
            There may be many answers to this question. For now, I'm alone with this project and my time is limited and before adding an Exchange/Merchant/Service I need to make some investigation in order to be sure that it compiles with the KYCNOT.ME requirements.
        </p>
        <p>
            If you think a service can fit the KYCNOT.me requirements, please fill the request form and send it to me. I will review the request as soon as I can.
        </p>
        <p>
            If it was already suggested, maybe I haven't had the time to investigate on it. If you're patient, I promise I will be investigating all the suggestions I receive. Also, I always answer any emails sooner or later.
        </p>            
    </div>

    <div class="about-section-content" id="js">
        <h2><i class="fa-brands fa-js-square"></i> JavaScript and the project</h2>

        <p> 
            This site does not use JavaScript at all, and most probably never will. I want to keep it simple for anyone to use, and there are some people who don't want to run JavaScript in their browsers.
        </p>
    </div>

    <div class="about-section-content" id="os">
        <h2><i class="fa-brands fa-osi"></i> Open Source and the project</h2>

        <p> 
            Although it's not a very big project, I really believe in Open Source. I want people to be able to contribute with it, request features,  make suggestions and I want as well to interact with them.
        </p>
    </div>

    <div class="about-section-content" id="trackers">
        <h2><i class="fa-solid fa-eye-slash"></i> Trackers and the project</h2>

        <p> 
            KYCNOT.me does not have trackers and never will. It does not make any third party connections from the frontend. No user data of any kind is collected. A "no-referrer" policy is enforced, so no site will know that you came from kycnot.me.
        </p>
    </div>

    <div class="about-section-content" id="referrals">
        <h2><i class="fa-solid fa-people-arrows-left-right"></i> About referral links</h2>

        <p> 
            Some websites provide referral links. You will see my referral links in a separate link that warns itself. You can choose to use the clean link or my referral, it's up to you.
        </p>
        <p>
            Using the referral link you can help this page a little bit. But feel free to choose whatever you prefer. If you want full anonimity (i.e. you don't want to disclose where you come from), don't use them! 
        </p>
    </div>

    <div class="about-section-content" id="me">
        <h2><i class="fa-solid fa-message"></i> About me</h2>

        <p> 
            Although I know how to create a website and all, I am not a web developer. The website may not be sufficiently efficient or it may have some errors on the way things are done. If you notice something you can fix it and create a PR and I will merge it! 
        </p>

        <p>
            I am pretty busy with many projects going on, my work and my life. I promise I will review, check and answer everything but it may take me some time to do so.
        </p>
    </div>

    <hr>

    <div class="about-section-content" id="listings">
        <h2><i class="fa-solid fa-puzzle-piece"></i> Listing request</h2>

        <ol>
            <li>Complete the request form and copy the link that it will genreate.
                <ul>
                    <li><a href="/generator?type=Exchange">Exchanges form</a></li>
                    <li><a href="/generator?type=Service">Services form</a></li>
                </ul>
            </li>

            <li>
                Copy the <a href="">request example body</a> and modify to fit your needs. Please make sure you add the link generated in step 1.
            </li>

            <li>
                Send the request mail to: <pre>request ‍⁤‍⁡‍⁡‌⁤⁡‍⁢‌⁡‍‍‌⁡‌⁢‌⁡‌⁢⁢⁡‍⁢⁤‍‌⁤‍⁢‍⁡‍⁣⁡‌⁡⁢⁡‌⁢⁣⁢‌⁢⁢⁢‌⁢[a ‍⁤‍⁢⁤‍⁢‍⁡‍⁢‌⁡‍⁡⁢t] kycnot [d ‍⁤‍⁡‍⁡‌⁤⁡‍⁢‌⁡‍‍‌⁡‌⁢‌⁡‌⁢⁢⁡‍⁢⁤‍‌⁤‍⁢‍⁡‍⁣⁡‌⁡⁢⁡‌⁢‌o t] me</pre>
            </li>

        </ol>

        <h2>Delisting request</h2>

        <ol>
            <li>
                Copy the <a href="">request example body</a> and modify to fit your needs.
            </li>

            <li>
                Send the request mail to: <pre>request ‍⁤‍⁡‍⁡‌⁤⁡‍⁢‌⁡‍‍‌⁡‌⁢‌⁡‌⁢⁢⁡‍⁢⁤‍‌⁤‍⁢‍⁡‍⁣⁡‌⁡⁢⁡‌⁢⁣⁢‌⁢⁢⁢‌⁢[a ‍⁤‍⁢⁤‍⁢‍⁡‍⁢‌⁡‍⁡⁢t] kycnot [d ‍⁤‍⁡‍⁡‌⁤⁡‍⁢‌⁡‍‍‌⁡‌⁢‌⁡‌⁢⁢⁡‍⁢⁤‍‌⁤‍⁢‍⁡‍⁣⁡‌⁡⁢⁡‌⁢‌o t] me</pre>
            </li>
        </ol>
    </div>

    <div class="about-section-content" id="metrics">
        <h2>Site metrics</h2>

        <h3><i class="fa-solid fa-layer-group"></i> KYC Levels</h3>
        <ul>
            <li><b>Level 0</b>: No KYC. The exchange ToS do not mention that it will ever request the user for a KYC verification.</li>
            <li><b>Level 1</b>: KYC is rare. The platform does not mention KYC/AML procedures as such, but the service has the right to share acquired data with representatives of the authorities and block funds or reject transactions.</li>
            <li><b>Level 2</b>: The exchange may request KYC. Although KYC is not mandatory, the exchange reserves the right to require KYC for a certain user at a certain moment and may block funds. May be that a transaction is detected as suspicious or any other reason.</li>
            <li><b>Level 3</b>: KYC is mandatory in order to use some features. Also, a non-KYCed user can be asked to verify their identity at any time or any moment for any reason.</li>
        </ul>

        <h3><i class="fa-solid fa-robot"></i> Automated checks</h3>
        <p>
            A series of automated checks are performed in a daily basis; the scores for each exchange are calculated, the site status is checked to see if the site is still online and finally the ToS of the service are reviewed automatically to see if there is something suspicious added.
        </p>

        <h3><i class="fa-solid fa-star-half-stroke"></i> Scores</h3>
        <p>
            The information about the exchange is used to compute a score. The higher the score, the more KYCNOT-friendly is the exchange. How this score is computed can be seen in the <a href="https://codeberg.org/pluja/kycnot.me">official repository</a> in the automated-checks.py file.
        </p>
    </div>

    <hr>
    

    <div class="about-section-content" id="support">
        <h2><i class="fa-solid fa-seedling"></i> Support</h2>

        <p>Contributions of any kind are more than welcome: suggestions, recommendations, corrections, ideas... Just open an issue, email me or contact me via Session. I will reply as fast as soon as I can. Please note that I am alone with this project and my time is limited. I dedicate my free time to this.</p>
        <p>Donations are also a huge help!</p>

        <h3>Contact</h3>
        <p> <i class="fa-solid fa-envelope"></i> EMAIL:</p>
        <pre class="contactpre">contact ‍⁤‍⁡‍⁡‌⁤⁡‍⁢‌⁡‍‍‌⁡‌⁢‌⁡‌⁢⁢⁡‍⁢⁤‍‌⁤‍⁢‍⁡‍⁣⁡‌⁡⁢⁡‌⁢⁣⁢‌⁢⁢⁢‌⁢[a ‍⁤‍⁢⁤‍⁢‍⁡‍⁢‌⁡‍⁡⁢t] kycnot [d ‍⁤‍⁡‍⁡‌⁤⁡‍⁢‌⁡‍‍‌⁡‌⁢‌⁡‌⁢⁢⁡‍⁢⁤‍‌⁤‍⁢‍⁡‍⁣⁡‌⁡⁢⁡‌⁢‌o t] me</pre>

        <p> <i class="fa-solid fa-shield"></i> <a href="">SESSION ID</a> (E2EE communications with Session):</p>
        <pre class="contactpre">0579a1b1d2692b4f0a19bd5d766400f9c7a076f46a47ae33f90742da3366a25168</pre>

        <h3>Donations</h3>
        <div class="about-section-donation-block">
            <div class="donation-button">
                <a class="butn" href="#open-modal-xmr"><i class="fas fa-qrcode"></i> Donate Monero <i class="fa-solid fa-star"></i></a>
                <div id="open-modal-xmr" class="modal-window">
                  <div>
                    <a href="#support" title="Close" class="modal-close"><i class="fa-solid fa-xmark"></i></a>
                    <h1>Monero</h1>
                    <img width="256" src="/static/img/qrcodes/xmr.png"></img>
                    <pre>{{support['xmr']}}</pre> 
                    <small>This modal DOES NOT require Javascript.</small>
                    </div>
                </div>
            </div>

            <div class="donation-button">
                <a class="butn" href="#open-modal-btc"><i class="fas fa-qrcode"></i> Donate Bitcoin <i class="fas fa-link"></i></a>
                <div id="open-modal-btc" class="modal-window">
                  <div>
                    <a href="#support" title="Close" class="modal-close"><i class="fa-solid fa-xmark"></i></a>
                    <h1>Bitcoin</h1>
                    <img width="256" src="/static/img/qrcodes/btc.png"></img>
                    <pre>{{support['btc']}}</pre> 
                    <small>This modal DOES NOT require Javascript.</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="spacer"></div>
</div>
{% endblock %}