<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="referrer" content="no-referrer" />
    <link rel="stylesheet" href="../static/css/kycnot-style.css">
    <link href="../static/fa/css/all.min.css" rel="stylesheet" />
    <link
      rel="shortcut icon"
      href="../static/img/favicon.png"
      type="image/x-icon"
    />
    <title>KYC? Not me!</title>
  </head>
  <body>

    <nav class="menu">
      <div class="brand">
        <a href="https://kycnot.me">
          <h1>KYCNOT.ME</h1>
        </a>
      </div>

      <div class="elements">
        {% if active == 0 %}
          <a class="is-active" href="/">Exchanges</a>
        {% else %}
          <a href="/">Exchanges</a>
        {%endif%}

        {% if active == 1 %}
          <a class="is-active" href="/services">Services</a>
        {% else %}
          <a href="/services">Services</a>
        {%endif%}

        {% if active == 2 %}
          <a class="is-active" href="/about">About</a>
        {% else %}
          <a href="/about">About</a>
        {%endif%}
      </div>

      <div class="support">
        <a href="#" class="support"> Support </a>
      </div>
    </nav>

    {% block content %}{% endblock %}

    <div class="links-container">
      <a
        class="link-item"
        href="https://codeberg.org/pluja/kycnot.me"
        target="_blank"
        ><i class="fas fa-code"></i
      ></a>
      <a class="link-item" href="/about#support"
        ><i class="fas fa-heart"></i
      ></a>
    </div>
  </body>
</html>
