{% extends "base.html" %} {% block content %}

<div class="exchange-page-header-container">
  <div class="exchange-page-header">
    <img src="../static/img/{{ exchange['name'] | replace(' ', '') | lower }}.jpeg" alt="" class="exchange-page-logo">
    <div class="exchange-page-header-title">
      {{exchange['name']}}
    </div>

    <div class="exchange-page-header-actions">
      <a target="_blank" class="exchange-page-header-actions-button" href="{{exchange['url']}}">Website</a>
      {% if exchange['referral'] %}
        <a target="_blank" class="exchange-page-header-actions-button" href="{{exchange['url']}}{{exchange['referral']}}">Referral</a>
      {% endif %}
      {% if exchange['tos-urls'][0] != -1%}
      <a target="_blank" class="exchange-page-header-actions-button" href="{{exchange['tos-urls'][0]}}">ToS</a>
      {% endif %}
      {% if exchange['tor'] and exchange['tor-onion'] %}
        <a target="_blank" class="exchange-page-header-actions-button" href="{{exchange['tor-onion']}}">Tor</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="exchange-page-quick-info">
  <table>
 
    <tr>
      <th>Quick Info</th>
    </tr>
   
    {% if exchange['btc'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-shield" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Verified</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-shield" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Not verified</span>
        </td>
      </tr>
    {% endif %}
    {% if exchange['btc'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fab fa-bitcoin" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Bitcoin is available</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fab fa-bitcoin" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Bitcoin is not available</span>
        </td>
      </tr>
    {% endif %}

    {% if exchange['xmr'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fab fa-monero" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Monero is available</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fab fa-monero" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Monero is not available</span>
        </td>
      </tr>
    {% endif %}

    {% if exchange['buy'] %}
      <tr>
        {% if exchange['cash']%}
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-money-bill-wave" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Cash accepted</span>
        </td>
        {% else %}
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-dollar-sign" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">You can pay with FIAT</span>
        </td>
        {% endif %}
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-dollar-sign" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">You can't pay with FIAT</span>
        </td>
      </tr>
    {% endif %}

    {% if exchange['exchange'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-random" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">You can swap coins</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-random" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">You can not swap coins</span>
        </td>
      </tr>
    {% endif %}

    {% if exchange['no-registration'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-user-circle" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">No accounts</span>
        </td>
      </tr>
      {% if exchange['personal-info'] %}
        <tr class="tr-is-red">
          <td> 
            <i class="exchange-page-quick-info-icon fas fa-mask" aria-hidden="true"></i> 
            <span class="exchange-page-quick-info-text">Personal information</span>
          </td>
        </tr>
      {% else %}
        <tr>
          <td> 
            <i class="exchange-page-quick-info-icon fas fa-mask" aria-hidden="true"></i> 
            <span class="exchange-page-quick-info-text">No personal information</span>
          </td>
        </tr>
        {% endif %}
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-user-circle" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Account needed</span>
        </td>
      </tr>
    {% endif %}

    {% if exchange['custodial'] == true %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fa-solid fa-wallet" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">The wallet is custodial</span>
        </td>
      </tr>
    {% elif exchange['custodial'] == false %}
    <tr>
      <td> 
        <i class="exchange-page-quick-info-icon fa-solid fa-wallet" aria-hidden="true"></i> 
        <span class="exchange-page-quick-info-text">The wallet is not custodial</span>
      </td>
    </tr>
    {% else %}
    <tr class="tr-is-yellow">
      <td> 
        <i class="exchange-page-quick-info-icon fa-solid fa-wallet" aria-hidden="true"></i> 
        <span class="exchange-page-quick-info-text">The wallet is semi custodial</span>
      </td>
    </tr>
    {% endif %}


    {% if exchange['p2p'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-handshake" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">P2P</span>
        </td>
      </tr>
    {% endif %}

    {% if exchange['open-source'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-code" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">The source code is public</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-code" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">The source code is private</span>
        </td>
      </tr>
      {% endif %}

    {% if exchange['javascript'] %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fa-brands fa-js" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">JavaScript is needed</span>
        </td>
      </tr>
      {% else %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fa-brands fa-js" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">No JavaScript</span>
        </td>
      </tr>
      {% endif %}

      {% if exchange['tor'] %}
      <tr>
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-bullseye" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">Tor available</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="exchange-page-quick-info-icon fas fa-bullseye" aria-hidden="true"></i> 
          <span class="exchange-page-quick-info-text">No Tor service available</span>
        </td>
      </tr>
    {% endif %}
  </table>
  
  <table class="exchange-page-quick-info-kyctype-table">
    <tr>
      <th>KYC Level: {{exchange['kyc-type']}}</th>
    </tr>
              {% if exchange['kyc-type'] == 0 %} 
              <tr class="tr-is-green">
                <td> 
                  <div class="comment">
                    No KYC. The exchange ToS do not mention that it will ever request the user for a KYC verification.
                  </div>
                </td>
              </tr>
              {% elif exchange['kyc-type'] == 1 %} 
              <tr class="tr-is-green">
                <td> 
                  <div class="comment">
                    KYC is rare. The platform does not mention KYC/AML procedures as such, but the service has the right to share acquired data with representatives of the authorities and block funds or reject transactions.
                  </div>
                </td>
              </tr>
              {% elif exchange['kyc-type'] == 2 %}
              <tr class="tr-is-yellow">
                <td> 
                  <div class="comment">
                    The exchange may request KYC. Although KYC is not mandatory, the exchange reserves the right to require KYC for a certain user at a certain moment and may block funds. May be that a transaction is detected as suspicious or any other reason.
                  </div>
                </td>
              </tr>
              {% elif exchange['kyc-type'] == 3 %}
              <tr class="tr-is-red">
                <td> 
                  <div class="comment">
                    KYC is mandatory in order to use some features. Also, a non-KYCed user can be asked to verify their identity at any time or any moment for any reason.
                  </div>
                </td>
              </tr>
              {% endif %}
    </table>
  
  {% if exchange['comments'] %}
  <table class="exchange-page-quick-info-comments-table">
    <tr>
      <th>Comments</th>
    </tr>
      {% for comment in exchange['comments'] %}
        <tr class="tr-is-info">
          <td> 
            <div class="comment-container">
              <div class="comment">
                {{comment | safe}}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if exchange['suspicious-tos'] %}
  <table class="exchange-page-quick-info-comments-table">
    <tr>
      <th>Suspicious ToS</th>
    </tr>
      {% for comment in exchange['suspicious-tos'] %}
        <tr class="tr-is-yellow">
          <td> 
            <div class="comment-container">
              <div class="comment">
                {{comment | safe}}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}


</div>
  
{% endblock %}
