{% extends "base.html" %} {% block content %}

<div class="content">
    <h1 style="color: white;">KYCNOT.ME {{_type}} Generator</h1>
</div>
<div class="content">
    {% if _type == 'Exchange' %}
    <a href="/generator?type=Exchange">Go to Service Generator</a>
    {% else %}
    <a href="/generator?type=Service">Go to Exchange Generator</a>
    {% endif %}
</div>

<div class="content">
    <p style="color: white;">Please answer complete the form to generate a JSON</p>
</div>

{% if _type == 'Exchange' %}
<div class="form">
    <form style="color: white !important;" action="/generator?type=Exchange" method="get">
        <div class="field">
          <div class="control">
            <label class="checkbox">
              <input required value="True" type="checkbox" />
              <input type="hidden" name="" value="False" />
              I am sure the exchange passes the
              <a href="#basic-req">basic listing rules</a>
            </label>
          </div>
        </div>
        <div class="field">
            <label class="label"
            >Exchange Name (Please write it with corresponding capital and
            lowercase letters)</label
            >
            <div class="control">
                <input
                name="name"
                id="name"
                required
                class="input"
                type="text"
                placeholder="ExchangeName"
                />
            </div>
        </div>
        
        <div class="field">
            <label class="checkbox">
            <input name="btc" id="btc" value="True" type="checkbox" /> You can
            buy/trade with Bitcoin.
            <input type="hidden" name="btc" value="False" />
        </label>
    </div>
    
    <div class="field">
        <label class="checkbox">
            <input name="xmr" value="True" type="checkbox" /> You can buy/trade
            with Monero.
            <input type="hidden" name="xmr" value="False" />
        </label>
    </div>
    
    <div class="field">
        <label class="checkbox">
            <input name="lnn" value="True" type="checkbox" /> You can buy/trade using Lightning Network.
            <input type="hidden" name="lnn" value="False" />
        </label>
    </div>
    
    <div class="field">
        <label class="checkbox">
            <input name="buy" value="True" type="checkbox" /> You can buy crypto
            with FIAT without KYC.
            <input type="hidden" name="buy" value="False" />
        </label>
    </div>
    
    <div class="field">
      <label class="checkbox">
        <input name="cash" value="True" type="checkbox" /> You can pay with
        cash.
        <input type="hidden" name="cash" value="False" />
      </label>
    </div>
    
    <div class="field">
        <label class="checkbox">
            <input name="exchange" value="True" type="checkbox" /> You can
            trade/swap with other cryptos.
            <input type="hidden" name="exchange" value="False" />
        </label>
    </div>
    
    <div class="field">
        <label class="checkbox">
            <input name="registration" value="True" type="checkbox" /> You DON'T need to
            register an account to use this service.
            <input type="hidden" name="registration" value="False" />
        </label>
    </div>
    
    <div class="field">
          <label class="checkbox">
            <input name="personal-info" value="True" type="checkbox" />
            Registration requires personal information (eg. Phone number or address).
            <input type="hidden" name="personal-info" value="False" />
          </label>
        </div>
  
  
        <div class="field">
          <label class="checkbox">
            <input name="p2p" value="True" type="checkbox" /> It is a P2P
            exchange.
            <input type="hidden" name="p2p" value="False" />
          </label>
        </div>
  
        <div class="field">
          <label class="checkbox">
            <input name="custodial" value="True" type="checkbox" /> The wallet IS
            custodial.
            <input type="hidden" name="custodial" value="False" />
          </label>
        </div>
  
        <div class="field">
          <label class="checkbox">
            <input name="open-source" value="True" type="checkbox" /> The service
            code is available for study (Open Source).
            <input type="hidden" name="open-source" value="False" />
          </label>
        </div>
  
        <div class="field">
          <label class="checkbox">
            <input name="javascript" value="True" type="checkbox" /> You can use the service without Javascript enabled.
            <input type="hidden" name="javascript" value="False" />
          </label>
        </div>
        
        <div class="field">
            <label class="checkbox">
              <input name="api" value="True" type="checkbox" /> The service has an API
              <input type="hidden" name="javascript" value="False" />
            </label>
        </div>

        <div class="field">
            <label class="label"
              >If it has an API endpoint available, provide it in this field. Otherwise leave it as "false"</label
            >
            <div class="control">
              <input
                name="api-url"
                class="input"
                type="text"
                value="false"
                placeholder="http://example.com/api/v1"
              />
            </div>
          </div>

        <div class="field">
          <label class="checkbox">
            <input name="tor" value="True" type="checkbox" /> It has a Tor onion
            available.
            <input type="hidden" name="tor" value="False" />
          </label>
        </div>
  
        <div class="field">
          <label class="label"
            >If it has a Tor link available, provide it in this field. Otherwise leave it as "false"</label
          >
          <div class="control">
            <input
              name="tor-url"
              class="input"
              type="text"
              value="false"
              placeholder="http://ewerxamowkdople.onion/"
            />
          </div>
        </div>
  
        <div class="field">
          <label class="label"
            >Provide a short description of the Exchange (40 characters
            max).</label
          >
          <div class="control">
            <textarea
              name="short-d"
              maxlength="40"
              required
              class="textarea"
              placeholder="Textarea"
            ></textarea>
          </div>
        </div>
  
        <div class="field">
          <label class="label"
            >Provide a detailed description of the Exchange.</label
          >
          <div class="control">
            <textarea
              name="large-d"
              required
              class="textarea"
              placeholder="Textarea"
            ></textarea>
          </div>
        </div>
  
        <div class="field">
          <label class="label">Exchange website</label>
          <div class="control">
            <input
              name="url"
              required
              class="input"
              type="text"
              placeholder="https://exchange.tld/"
            />
          </div>
        </div>
  
        <div class="field">
          <label class="label">Link to the ToS of the exchange.</label>
          <div class="control">
            <input
              name="tos-url"
              required
              class="input"
              type="text"
              placeholder="https://exchange.tld/terms"
            />
          </div>
        </div>
  
  
        <div class="field">
          <label class="label">Select the KYC type that feeds this exchange</label>
          <div class="control">
            <div class="select">
              <select name="kyc-type">
                <option value="0">0: No KYC. The exchange ToS do not mention that it will ever request the user for a KYC verification.</option>
                <option value="1">1: KYC is rare. The platform reserves the rights to share data with certain authorities.</option>
                <option value="2">2: May request KYC. Although KYC is not mandatory, the exchange reserves the right to require KYC </option>
                <option value="3">3: KYC is mandatory in order to use some features. May KYC at any time or any time for any reason.</option>
              </select>
            </div>
          </div>
        </div>
  
        <div class="field is-grouped">
          <div class="control">
            <button type="submit" class="button is-link">Get URL</button>
          </div>
        </div>

        <input
              name="type"
              required
              class="input"
              type="text"
              value="Exchange"
              hidden
            />
      </form>
      {% else %}
      <div class="form">
        <form style="color: white !important;" action="/generator?type=Exchange" method="get">
          <div class="field">
            <label class="label"
              >Service Name (Please write it with corresponding capital and
              lowercase letters)</label
            >
            <div class="control">
              <input
                name="name"
                id="name"
                required
                class="input"
                type="text"
                placeholder="Service NameExample"
              />
            </div>
          </div>
    
          <div class="field">
            <label class="label"></label>
              Service tags (comma separated):
            </label>
            <div class="control">
              <input
                name="tags"
                id="tags"
                required
                class="input"
                type="text"
                placeholder="VPS, HOSTING, DOMAINS"
              />
            </div>
          </div>
    
          <div class="field">
            <label class="checkbox">
              <input name="btc" id="btc" value="True" type="checkbox" /> Bitcoin is
              accepted.
              <input type="hidden" name="btc" value="False" />
            </label>
          </div>
    
          <div class="field">
            <label class="checkbox">
              <input name="xmr" value="True" type="checkbox" /> Monero is accepted.
              <input type="hidden" name="xmr" value="False" />
            </label>
          </div>
    
          <div class="field">
            <label class="checkbox">
              <input name="lnn" value="True" type="checkbox" /> Lightning network is
              available.
              <input type="hidden" name="lnn" value="False" />
            </label>
          </div>
          
          <div class="field">
            <label class="checkbox">
              <input name="cash" value="True" type="checkbox" /> You can pay with
              cash.
              <input type="hidden" name="cash" value="False" />
            </label>
          </div>
    
          <div class="field">
            <label class="checkbox">
              <input name="no-registration" value="True" type="checkbox" /> You DON'T need to
              register an account to use this service.
              <input type="hidden" name="no-registration" value="False" />
            </label>
          </div>
    
          <div class="field">
            <label class="checkbox">
              <input name="personal-info" value="True" type="checkbox" />
              Registration requires personal information.
              <input type="hidden" name="personal-info" value="False" />
            </label>
          </div>    
    
          <div class="field">
            <label class="checkbox">
              <input name="open-source" value="True" type="checkbox" /> The service
              code is available for study (Open Source).
              <input type="hidden" name="open-source" value="False" />
            </label>
          </div>

          <div class="field">
            <label class="checkbox">
              <input name="javascript" value="True" type="checkbox" /> 
              Javascript is required
              <input type="hidden" name="javascript" value="False" />
            </label>
          </div>
    
          <div class="field">
            <label class="checkbox">
              <input name="tor" value="True" type="checkbox" /> It has a Tor onion
              available.
              <input type="hidden" name="tor" value="False" />
            </label>
          </div>
    
          <div class="field">
            <label class="label"
              >If it has a Tor link available, provide it in this field</label
            >
            <div class="control">
              <input
                name="tor-url"
                class="input"
                type="text"
                value="false"
                placeholder="http://ewerxamowkdople.onion/"
              />
            </div>
          </div>
    
          <div class="field">
            <label class="label"
              >Provide a short description of the Service (40 characters
              max).</label
            >
            <div class="control">
              <textarea
                name="short-d"
                maxlength="40"
                required
                class="textarea"
                placeholder="Textarea"
              ></textarea>
            </div>
          </div>
    
          <div class="field">
            <label class="label"
              >Provide a detailed description of the Exchange.</label
            >
            <div class="control">
              <textarea
                name="large-d"
                required
                class="textarea"
                placeholder="Textarea"
              ></textarea>
            </div>
          </div>
    
          <div class="field">
            <label class="label">Website</label>
            <div class="control">
              <input
                name="url"
                required
                class="input"
                type="text"
                placeholder="https://exchange.tld/"
              />
            </div>
          </div>
    
          <div class="field">
            <label class="label">Link to the ToS.</label>
            <div class="control">
              <input
                name="tos-url"
                required
                class="input"
                type="text"
                placeholder="https://exchange.tld/terms"
              />
            </div>
          </div>
    
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input required value="True" type="checkbox" />
                <input type="hidden" name="" value="False" />
                I am sure the exchange passes the
                <a href="#">basic listing rules</a>
              </label>
            </div>
          </div>
    
          <div class="field is-grouped">
            <div class="control">
              <button type="submit" class="button is-link">Get URL</button>
            </div>
          </div>

          <input
              name="type"
              required
              class="input"
              type="text"
              value="Service"
              hidden
            />
        </form>
      {% endif %}
    </div>

    <style>
        .form{
            padding: 3em;
        }

        form, .content a{
            color: aqua !important;
        }

        .content a{
            margin: 1em;
        }

        .field{
            margin: .5em;
            font-size: 1.2em;
            border-top: 1px solid white;
            padding-top: 0.3em;
        }
    </style>

{% endblock %}