{% extends "base.html" %} {% block content %}

<div class="header-container">
    <div class="header">
        {% if title == "exchanges" %}
        <form action="/" class="filters">
        {% else %}
        <form action="/services" class="filters">
        {%endif%}
           <!--General filters-->
           <div class="filter-item">
                <input type="checkbox" name="open-source" id="open-source">
                <label for="open-source">Open Source</label>
           </div> 
           <div class="filter-item">
                <input type="checkbox" name="cash" id="cash">
                <label for="cash">FIAT</label>
           </div> 
           <div class="filter-item">
                <input type="checkbox" name="btc" id="btc">
                <label for="btc">BTC</label>
           </div> 
           <div class="filter-item">
            <input type="checkbox" name="lnn" id="lnn">
            <label for="lnn">LNN</label>
       </div> 
           <div class="filter-item">
                <input type="checkbox" name="xmr" id="xmr">
                <label for="xmr">XMR</label>
           </div> 

           {% if title == 'exchanges' %}
           <!--Exchange only filters-->
               <div class="filter-item">
                <input type="checkbox" name="exchange" id="exchange">
                <label for="exchange">SWAP</label>
               </div> 
        
               <div class="filter-item">
                <input type="checkbox" name="no-registration" id="no-registration">
                <label for="no-registration">No account</label>
               </div> 
        
               <div class="filter-item">
                <input type="checkbox" name="tor" id="tor">
                <label for="tor">Tor</label>
               </div> 

               <div class="filter-item">
                <input type="checkbox" name="api" id="api">
                <label for="api">API</label>
               </div> 
            {% else %}
            <!--Service only filters-->
            <select class="filter-select-type" name="type" id="type">
              <option value="none" selected disabled hidden>Type</option>
              <option value="VPN">VPN</option>
              <option value="VPS">VPS</option>
              <option value="SMS">SMS</option>
              <option value="HOSTING">HOSTING</option>
              <option value="GOODS">GOODS</option>
              <option value="COINJOIN">COINJOIN</option>
            </select> 
            {% endif %}
            <div class="actions">
                <button type="submit">Filter</button>
                {% if filters%}
                    <span class="clear-button">
                        {% if title == "exchanges" %}
                            <a href="/"> Clear </a>
                        {% else %}
                            <a href="/services"> Clear </a>
                        {% endif %}
                    </span>
                {% endif %}
            </div>
        </form>
    </div>
</div>


<div class="content">
    <div class="card-container">
        {% for item in data %} 
            {% include '_exchange_line.html'%} 
        {% endfor %}
    </div>
</div>

{% endblock %}