{% extends "base.html" %} {% block content %}

<div class="item-page-header-container">
  <div class="item-page-header">
    <img src="../static/img/{{ item['name'] | replace(' ', '') | lower }}.webp" alt="" class="item-page-logo">
    <div class="item-page-header-title">
      {{item['name']}}
    </div>

    <div class="item-page-header-actions">
      <a target="_blank" class="item-page-header-actions-button" href="{{item['url']}}">Website</a>
      {% if item['referral'] %}
        <a target="_blank" class="item-page-header-actions-button" href="{{item['url']}}{{item['referral']}}">Referral</a>
      {% endif %}
      {% if item['tor'] and item['tor-onion'] %}
        <a target="_blank" class="item-page-header-actions-button" href="{{item['tor-onion']}}">Tor</a>
      {% endif %}
    </div>
    <div class="item-page-header-description">
      {{item['long-description'] | safe}}
    </div>
  </div>
</div>

<div class="item-page-quick-info">
  <table>
 
    <tr>
      <th>Quick Info</th>
    </tr>
   
    {% if item['btc'] %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fas fa-shield" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Verified</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fas fa-shield" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Not verified</span>
        </td>
      </tr>
    {% endif %}
    {% if item['btc'] %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fab fa-bitcoin" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Bitcoin is available</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fab fa-bitcoin" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Bitcoin is not available</span>
        </td>
      </tr>
    {% endif %}

    {% if item['xmr'] %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fab fa-monero" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Monero is available</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fab fa-monero" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Monero is not available</span>
        </td>
      </tr>
    {% endif %}
      
        {% if item['cash']%}
        <tr>
          <td> 
            <i class="item-page-quick-info-icon fas fa-money-bill-wave" aria-hidden="true"></i> 
            <span class="item-page-quick-info-text">Cash accepted</span>
          </td>
        </tr>
        {% else %}
        <tr class="tr-is-red">
          <td> 
            <i class="item-page-quick-info-icon fas fa-dollar-sign" aria-hidden="true"></i> 
            <span class="item-page-quick-info-text">You can't pay with cash</span>
          </td>
        </tr>
        {% endif %}

    {% if item['no-registration'] %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fas fa-user-circle" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">No accounts</span>
        </td>
      </tr>
      {% if item['personal-info'] %}
        <tr class="tr-is-red">
          <td> 
            <i class="item-page-quick-info-icon fas fa-mask" aria-hidden="true"></i> 
            <span class="item-page-quick-info-text">Personal information</span>
          </td>
        </tr>
      {% else %}
        <tr>
          <td> 
            <i class="item-page-quick-info-icon fas fa-mask" aria-hidden="true"></i> 
            <span class="item-page-quick-info-text">No personal information</span>
          </td>
        </tr>
        {% endif %}
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fas fa-user-circle" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Account needed</span>
        </td>
      </tr>
    {% endif %}

    {% if item['open-source'] %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fas fa-code" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">The source code is public</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fas fa-code" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">The source code is private</span>
        </td>
      </tr>
      {% endif %}

    {% if item['javascript'] %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fa-brands fa-js" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">JavaScript is needed</span>
        </td>
      </tr>
      {% else %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fa-brands fa-js" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">No JavaScript</span>
        </td>
      </tr>
      {% endif %}

      {% if item['tor'] %}
      <tr>
        <td> 
          <i class="item-page-quick-info-icon fas fa-bullseye" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">Tor available</span>
        </td>
      </tr>
      {% else %}
      <tr class="tr-is-red">
        <td> 
          <i class="item-page-quick-info-icon fas fa-bullseye" aria-hidden="true"></i> 
          <span class="item-page-quick-info-text">No Tor service available</span>
        </td>
      </tr>
    {% endif %}
  </table>
  
  {% if item['comments'] %}
  <table class="item-page-quick-info-comments-table">
    <tr>
      <th>Comments</th>
    </tr>
      {% for comment in item['comments'] %}
        <tr class="tr-is-info">
          <td> 
            <div class="comment-container">
              <div class="comment">
                {{comment | safe}}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}

    {% if item['suspicious-tos'] %}
  <table class="item-page-quick-info-comments-table">
    <tr>
      <th>Suspicious ToS</th>
    </tr>
      {% for comment in item['suspicious-tos'] %}
        <tr class="tr-is-yellow">
          <td> 
            <div class="comment-container">
              <div class="comment">
                {{comment | safe}}
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
    </table>
    {% endif %}
</div>

<div class="spacer"></div>
  
{% endblock %}
